
*{
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1024px) {
    

/** This example is for a 12 column grid **/
.column,
.columns {
    float:left;
    padding-left:.5rem;
    padding-right:.5rem;
}

.group,
.grouped {
    border: 1px solid;
    }

.group::after,
.grouped::after {
     content: ' ';
     display: table; 
     clear:both;
}

    /**Create different widths of columns**/
    .one                  {width: calc(100% / 12 * 01); background: rgb(22, 111, 255); }
    .two                  {width: calc(100% / 12 * 02); background: rgb(237, 196, 14);}
    .three                {width: calc(100% / 12 * 03); background: white;}
    .four                 {width: calc(100% / 12 * 04); background: #12e8d2;}
    .five                 {width: calc(100% / 12 * 05); background: #ff232e;}
    .six                  {width: calc(100% / 12 * 06); background: #ff7a1c;}
    .seven                {width: calc(100% / 12 * 07); background: lightGreen;}
    .eight                {width: calc(100% / 12 * 08); background: lightcyan;}
    .nine                 {width: calc(100% / 12 * 09); background: #11ff74;}
    .ten                  {width: calc(100% / 12 * 10); background: #1124ff;}
    .eleven               {width: calc(100% / 12 * 11); background: #ff007b;}
    .twelve               {width: calc(100% / 12 * 12); background: #373a3a;}

    .offset-by-one        {margin-left: calc(100% / 12 * 01); }
    .offset-by-two        {margin-left: calc(100% / 12 * 02); }
    .offset-by-three      {margin-left: calc(100% / 12 * 03); }
    .offset-by-four       {margin-left: calc(100% / 12 * 04); }
    .offset-by-five       {margin-left: calc(100% / 12 * 05); }
    .offset-by-six        {margin-left: calc(100% / 12 * 06); }
    .offset-by-seven      {margin-left: calc(100% / 12 * 07); }
    .offset-by-eight      {margin-left: calc(100% / 12 * 08); }
    .offset-by-nine       {margin-left: calc(100% / 12 * 09); }
    .offset-by-ten        {margin-left: calc(100% / 12 * 10); }
    .offset-by-.eleven    {margin-left: calc(100% / 12 * 11); }
    .offset-by-twelve     {margin-left: calc(100% / 12 * 12); }
}

.project:nth-child(4n+1) {
    clear: left;
}

*{
    box-sizing: border-box;
    transition: all 350ms;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFED11;
}


header nav ul{
    display:none; 
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    float: left;
    width: calc(100% / 3); /* divide by number of items in your menu*/
    text-align: center;
}

header nav ul li a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: darkblue; 
    font-family: Helvetica, sans-serif;
}

header nav ul li a:hover { 
    background-color:darkblue;
    opacity: .5;
    color: #FFED11;
}

body {
    background: darkblue;
    color: white;
    padding-top: 4em;
}

.hamburger {
    height: 3em;
    width: 3em; 
    background: darkblue; 
    border: none; 
    border-radius: 50%;
    box-shadow: 0 0 1em 0 rgba(0,0,0,.333);
    text-align: center; 
}

.hamburger span{
    display: block;
    width:2em;
    height: .25em; 
    border-radius: .125em;
    background-color: lightblue;
    margin-bottom: .25em;
}

@media (min-width: 50em) {
    .hamburger { 
        display: none;
    }
    header nav ul {
        display: block; 
    }
}


    